/* MAIN CONTAINER */
.hero {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 1.2fr;
    align-items: start;
    margin-top: 81px;
    padding: 50px 60px;
    gap: 90px;
    min-height: calc(100vh - 81px);
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}


/* LEFT COLUMN — DELIVERY MAN */
.delivery-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.shop-now-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 25px;
    margin-bottom: 30px;
}

.hero-left {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.shop-now-info button {
    width: 100%;
}

/* MIDDLE COLUMN — TOP TEXT + BUTTON */
.hero-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.top-text {
    font-size: 20px;
    line-height: 1.3;
    max-width: 340px;
}


/* RIGHT COLUMN — HEADLINE + SUBTEXT + GIRL IN CART */
.hero-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 15px;

}

.hero-right img {
    height: 80vh;
    width: auto;
    translate: -100px 0px;
}

.headline {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    margin-top: -20px
}

.orange {
    color: #E7794B;
}

.subtext {
    margin-top: 40px;
    font-size: 32px;
}



/* SHOP BUTTON */
.shop-btn {
    background-color: #FF9100;
    border: none;
    padding: 14px 36px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.shop-btn:hover {
    opacity: 0.85;
}


/* ========================================================= */
/* =============== RESPONSIVE TABLET ======================== */
/* ========================================================= */

@media (max-width: 1020px) {
    .hero {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "delivery center"
            "right right";
        padding: 50px 40px;
    }

    .hero-left {
        grid-area: delivery;
        margin: 0px;
    }

    .hero-center {
        grid-area: center;
        margin-top: 0;

    }

    .hero-right {
        grid-area: right;
        margin-top: 0px;
    }

    .hero-right {
        margin-top: 20px;
        align-items: center;
        text-align: center;
    }

    .headline {
        font-size: 42px;
    }

    .hero-img {
        width: 350px;
    }
}


/* ========================================================= */
/* =============== RESPONSIVE MOBILE ======================== */
/* ========================================================= */

@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-areas:
            "center"
            "delivery"
            "right";
        text-align: center;
        padding: 40px 25px;
    }

    .hero-center,
    .hero-right {
        align-items: center;
        margin-top: 0px;
    }

    .delivery-img {
        width: 100%;
    }

    .headline {
        font-size: 36px;
    }

    .hero-img {
        width: 300px;
    }

    .top-text {
        font-size: 18px;
        max-width: 95%;
    }
}

/* EXTRA SMALL MOBILE */
@media (max-width: 420px) {
    .headline {
        font-size: 30px;
    }

    .hero-img {
        width: 260px;
    }
}